<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
      integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
      integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
      crossorigin=""
    ></script>
    <style>
      #map {
        height: 500px;
      }
      .avatar-sm {
        height: 3rem;
        width: 3rem;
      }
    </style>
    <title>RentToGo | <%= listing.name %></title>
  </head>
  <body>
    <main class="container my-4">
      <figure class="text-center">
        <blockquote class="blockquote">
          <h1 class="display-6"><%= listing.name %></h1>
        </blockquote>
        <figcaption class="blockquote-footer">
          Uploaded by <cite title="Source Title"><%= listing.uploader %></cite>
        </figcaption>
      </figure>
      <div class="text-center">
        <img src="<%= listing.image %>" class="img-large rounded" />
      </div>
      <div class="mt-5 mx-3">
        <p><%= listing.description %></p>
        <p><b>Address: </b><%= listing.address %></p>

        <div id="map" class="mb-4"></div>

        <mark><small><%= listing.createdAt %></small></mark>

        <div class="card mt-5">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form action="/listings/<%= listing._id %>" method="post">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  placeholder="Username"
                />
              </div>
              <div class="mb-3">
                <textarea
                  class="form-control"
                  id="comment"
                  name="comment"
                  rows="3"
                  placeholder="Comment"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <% if (listing.reviews.length > 0) { listing.reviews =
        listing.reviews.reverse(); listing.reviews.forEach(function (review) {
        %>
        <div class="d-flex gap-3 mt-4">
          <div>
            <img
              src="https://cdn-icons-png.flaticon.com/512/3033/3033143.png"
              class="rounded-circle avatar-sm"
            />
          </div>
          <div>
            <h6><%= review.username %></h6>
            <small><%= review.comment %></small>
          </div>
        </div>
        <% })} %>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto mt-5 pt-5">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-success"
          >Edit</a
        >
        <form
          action="/listings/<%= listing._id %>?_method=DELETE"
          method="post"
        >
          <button type="submit" class="btn btn-danger col-12">Delete</button>
        </form>
        <a class="btn btn-primary my-4" role="button" href="/"
          >Back to All Listing</a
        >
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script>
      const map = L.map("map").setView(
        ["<%= listing.latitude %>", "<%= listing.longitude %>"],
        15
      );

      const tiles = L.tileLayer(
        "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          maxZoom: 19,
          attribution:
            '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        }
      ).addTo(map);

      var marker = L.marker([
        "<%= listing.latitude %>",
        "<%= listing.longitude %>",
      ]).addTo(map);
    </script>
  </body>
</html>
